---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
---

<Layout title={`404 Not Found | ${SITE.title}`}>
  <Header />

  <main id="main-content">
    <div class="not-found-wrapper">
      <h1 aria-label="404 Not Found">404</h1>
      <p>Page Not Found</p>
      <LinkButton
        href="/"
        className="my-6 underline decoration-dotted underline-offset-8 text-lg"
      >
        Go back home
      </LinkButton>
      -- or --
      <div class="not-found-search">
        Try a search:
      <LinkButton
      href="/search"
      className="focus-outline p-3 sm:p-1"
      ariaLabel="search"
      title="Search"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="scale-125 sm:scale-100"
        ><path
          d="M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392.604.646 2.121-2.121-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"
        ></path>
      </svg>
    </LinkButton>
    </div>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  #main-content {
    @apply mx-auto flex max-w-3xl flex-1 items-center justify-center;
  }
  .not-found-wrapper {
    @apply mb-14 flex flex-col items-center justify-center;
  }
  .not-found-wrapper h1 {
    @apply text-9xl font-bold text-skin-accent;
  }
  .not-found-wrapper p {
    @apply mt-4 text-2xl sm:text-3xl;
  }
  .not-found-search {
    @apply text-lg pt-3;
  }
</style>
