---
import LinkButton from "@components/LinkButton.astro";

const GROCERY_SPENT = 210;
const RESTAURANT_SPENT = 182;

const groceryPercent = Math.round((GROCERY_SPENT/2400) * 100);
const restaurantPercent = Math.round((RESTAURANT_SPENT/2400) * 100);

export interface Props {
  showButton?: boolean;
}

const { showButton=false } = Astro.props;

---

<div id="budget" class="prose">
  <h3>2024 food budget</h3>
  <div id="groceries">
    <p class="text-2xl md:text-xl">groceries</p>
    <p class="invisible text-right sm:visible md:text-sm">
      ${GROCERY_SPENT} / $2400
    </p>
    <div class="bar">
      <div id="grocery-status" style={{ width: `${groceryPercent}%` }}></div>
    </div>
  </div>
  <div id="restaurants">
    <p class="text-2xl md:text-xl">eating out</p>
    <p class="invisible text-right sm:visible sm:visible md:text-sm">${RESTAURANT_SPENT} / $2400</p>
    <div class="bar">
      <div id="restaurant-status" style={{ width: `${restaurantPercent}%` }}></div>
    </div>
  </div>
  {showButton &&
  <div class="budget-btn-wrapper">
    <LinkButton href="/2024-grocery-budget">
      read more about the project
      <svg xmlns="http://www.w3.org/2000/svg"
        ><path
          d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
        ></path>
      </svg>
    </LinkButton>
  </div>}
</div>

<style>
  #budget {
    @apply flex flex-wrap justify-center max-w-none pt-4 md:pt-0;
  }
  #budget h3, p {
    @apply w-full;
  }
  #budget h3 {
    @apply text-center text-lg sm:pl-3 md:pl-0;
  }
  #budget p {
    @apply inline-block w-2/5 mt-2 font-sans text-sm md:mb-8;
  }
  #groceries, #restaurants {
    @apply ml-8 -mt-4 pt-4 w-full sm:pt-0 sm:ml-32 sm:mt-2 md:-ml-1 md:-mr-9;
  }
  .bar {
    @apply h-8 w-5/6 -mt-5  border-2 border-dotted border-card md:-mt-9;
  }
  #grocery-status,
  #restaurant-status {
    @apply ml-1 mr-1 mt-1 h-5 bg-accent;
  }
  .budget-btn-wrapper {
    @apply mt-8 flex w-full justify-center text-center;
  }
</style>
