---
import { Markdown } from '@astropub/md';

export interface Props {
  faq: {
    question: string,
    answer: string
  };
}

const { faq } = Astro.props;
---

<div class="faq-item prose">
    <h3>{faq.question}</h3>
    <p>
        <Markdown of={faq.answer} />
    </p>
</div>
