---
import Hr from "./Hr.astro";
import Socials from "./Socials.astro";
import AuxNav from "./AuxNav.astro";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class={`${noMarginTop ? "" : "mt-auto"}`}>
  <Hr noPadding />
  <div class="footer-wrapper">
    <div class="footer-nav">
      <h2 class="display-none sm:flex sm:justify-center">explore the blog</h2>
      <AuxNav />
    </div>
    <div class="footer-social">
      <h2>find me elsewhere</h2>
      <Socials />
    </div>
  </div>
  <div class="footer-info-wrapper">
    <div>
      <span><a href="/privacy-policy">Privacy Policy</a></span> 
      <span class="separator">&nbsp;|&nbsp;</span>
      <span><a href="/accessibility">Accessibility Statement</a></span>
    </div>
  </div>
  <div class="copyright-wrapper">
    <span>Copyright &#169; {currentYear}</span>
    <br>
    <span>Website design by <a href="https://julianecassidy.com">Juliane Cassidy</a></span>
  </div>
</footer>

<style>
  footer {
    @apply max-w-full px-0 mx-0;
  }
  .footer-wrapper {
    @apply flex flex-wrap w-3/4 mx-auto items-center justify-between pt-6 sm:pt-4 md:ml-48;
  }
  .footer-wrapper h2 {
    @apply text-xl w-full text-center;
  }
  .footer-wrapper a {
    @apply text-skin-accent hover:text-muted px-3 transition hover:duration-75;
  }
  .footer-nav {
    @apply flex w-full flex-wrap gap-y-3 items-center justify-center sm:w-1/2;
  }
  .footer-social {
    @apply flex w-full flex-wrap items-center justify-center mt-1 sm:w-1/2;
  }
  .link-button {
    @apply my-1 p-2 hover:rotate-6;
  }
  .link-button svg {
    @apply scale-125;
  }
  .footer-info-wrapper {
    @apply mt-8 flex flex-wrap w-full flex-col items-center justify-center text-center;
  }
  .copyright-wrapper {
    @apply mt-4 pb-4 w-full text-fill text-center block justify-start bg-skin-accent pl-4 pt-4 sm:pb-6;
  }
  .copyright-wrapper span {
    @apply w-full;
  }
  .copyright-wrapper a {
    @apply text-card hover:text-border;
  }
  .separator {
    @apply inline;
  }
</style>
