---
import About from "@components/About.astro";
import BudgetStatusBars from "./BudgetStatusBars.astro";

---

<div class="sidebar">
    <About />
    <BudgetStatusBars showButton={true} />
</div>

<style>
    
</style>