---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Hr from "@components/Hr.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Tag from "@components/Tag.astro";
import Categories from "@components/Categories.astro";
import getUniqueTags from "@utils/getUniqueTags";
import { formatPostData } from "@utils/helpers";
import { getAllPosts } from "lib/api";
import { SITE } from "@config";

const posts = formatPostData(await getAllPosts());

let tags = getUniqueTags(posts);
---

<Layout title={`Categories | ${SITE.title}`}>
  <Header activeNav="categories" />
  <Main 
    pageTitle="Explore" 
    pageDesc="Looking for something in particular? Just browsing? Start with the categories below."
  >
    <Categories />
    <Hr />
    <h2>Other Topics</h2>
    <ul>
      {tags.map(tag => <Tag name={tag} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>

<style>
  h2 {
    @apply py-8 text-xl font-body font-semibold text-center sm:text-2xl;
  }
  ul {
    @apply flex flex-wrap justify-center;
  }
</style>
